body{
    display: grid;
}

/*cabecalho*/
.header {
    grid-column:1/6 ;
    grid-row:1/2 ;
    margin: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

.header nav
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 30px;
}

.header a{
    border-color: black;
    text-decoration: none;
    margin-left: 10px;
}

.header a img{
    margin: 10px;
}

.header li{
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #ff3ee2;
    color: black;
    list-style-type: none;
    
}

.header li:hover{
    background-color: #ff7aeb;
}

.pesquisar
{
    border: 1px solid black;
}
.logo
{
    border: 1px solid black;
    border-radius: 50px;
}



    /*main*/
.main
{
    grid-column:1/4 ;
    grid-row:2/3 ;
}

.apresentar_jogos
{
    border: 1px solid black;
    padding: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    min-height: 50vh;

}

.apresentar_partida
{
    border: 1px solid black; 
    width: 150px;
    height: 170px;
    margin: 10px;
    background-color: #ff3ee2;
    text-align: center;
    border-radius: 30px;
}

.apresentar_partida a
{
    text-decoration: none;
    color: black;
    font-size:medium;
    
}

.apresentar_partida a div:nth-child(1)
{
    border-bottom:1px solid black ;
}


.head_apresentar_jogos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
}

.head_apresentar_jogos button
{
    border: 1px solid black;
    margin-left: 10px;
    background-color: #ff3ee2;
    border-radius: 5px;
}

.head_apresentar_jogos select{
    border: 1px solid black;
    margin-right: 10px;
    background-color: #ff3ee2;
    border-radius: 5px;
}

#btnFiltrar:hover
{
    background-color: #ff7aeb;
}

#btnNotificar:hover
{
    background-color: #ff7aeb;
}


    /*footer*/
.footer
{
    grid-column:1/4 ;
    grid-row:3/4 ;

}
    /*copyright*/
.copyright
{
    grid-column:1/4 ;
    grid-row:4/5 ;
}

#map {
    background-color: #ccc;
    height: 610px;
    width: 500px;
    flex: 1 0 300px; 
    margin-left: 20px;
    border-radius: 5px; 
  }
 
.apresentar_jogos {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  flex: 1 0 auto;
  max-width: 1000px;
}

.apresentar_partida {
    background-color: #ff96ef;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 230px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
  }
  
  .apresentar_partida a {
    text-decoration: none;
    color: #333333;
  }
  
  .apresentar_partida a:hover {
    color: #000000;
  }
  
  .apresentar_nome {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .apresentar_esporte,
  .apresentar_cidade,
  .apresentar_bairro,
  .apresentar_horario,
  .apresentar_data,
  .apresentar_qntd {
    margin-bottom: 5px;
  }
  
  .apresentar_esporte::before,
  .apresentar_cidade::before,
  .apresentar_bairro::before,
  .apresentar_horario::before,
  .apresentar_data::before,
  .apresentar_qntd::before {
    font-weight: bold;
  }
  
  .apresentar_esporte::before {
    content: "Esporte: ";
  }
  
  .apresentar_cidade::before {
    content: "Cidade: ";
  }
  
  .apresentar_bairro::before {
    content: "Bairro: ";
  }
  
  .apresentar_horario::before {
    content: "Horário: ";
  }
  
  .apresentar_data::before {
    content: "Data: ";
  }
  
  .apresentar_qntd::before {
    content: "Quantidade: ";
  }
  