/*cabecalho*/
.header {
    margin: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header a{
    text-decoration: none;
    margin-left: 10px;
}

.header a img{
    margin: 10px;
}

    /*logo*/
.logo
{
    border: 1px solid black;
    border-radius: 50px;
}

#btn_pagina_login {
    border: 1px solid black;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(238, 226, 59);
    color: black;
    list-style-type: none;
}

    /*main*/
.main_cadastro div
{
    text-align: center;
    margin: auto;
    width: 50%;
    height: 70vh;
}

.btn_cadastrar
{
    font-size: larger;
    padding: 5px;
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto 5px;
}