/*cabecalho*/
.header {
    grid-column:1/6 ;
    grid-row:1/2 ;
    margin: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

.header nav
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 30px;
}

.header a{
    border-color: black;
    text-decoration: none;
    margin-left: 10px;
}

.header a img{
    margin: 10px;
}

.header li{
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #ff3ee2;
    color: black;
    list-style-type: none;   
}

.header li:hover{
    background-color: #ff7aeb;
}

.pesquisar
{
    border: 1px solid black;
}
.logo
{
    border: 1px solid black;
    border-radius: 50px;
}

    /*main*/

.main
{
    margin: 10px auto;
    min-height: 50vh;
}
.main form{
    display: grid;
    justify-content: center;
}

