/*cabecalho*/
.header {
    grid-column:1/6 ;
    grid-row:1/2 ;
    margin: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

.header nav
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 30px;
}

.header a{
    border-color: black;
    text-decoration: none;
    margin-left: 10px;
}

.header a img{
    margin: 10px;
}

.header li{
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(238, 226, 59);
    color: black;
    list-style-type: none;
    
}

.btn_configurar_perfil{
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(238, 226, 59);
    color: black;
    list-style-type: none;
}

.btn_configurar_perfil:hover
{
    background-color:rgb(168, 160, 46) ;
}

.pesquisar
{
    border: 1px solid black;
}
.logo
{
    border: 1px solid black;
    border-radius: 50px;
}

    /*main*/

.main
{
    display: grid;
    flex-direction: column;
    justify-content: center ;
    margin: 10px auto;
    min-height: 60vh;
}

.detalhes_perfil
{
    display: grid;
    padding: 0px 20px;
    border-bottom: 1px solid black;
    max-height: 40vh;
}

.img_perfil{
    grid-column: 1/2;
    grid-row:1/4 ;
    margin: auto;
}        


.apelido_perfil{
    grid-column:2/3 ;
    grid-row: 1/2;
    margin: auto;
}

.solicitar_amizade_perfil{
    grid-column: 3/4;
    grid-row: 1/2;
    margin: auto;
}

.qntd_jogos_perfil{
    grid-column:2/3 ;
    grid-row: 2/3 ;
    margin: auto;
}

.qntd_amigos_perfil{
    grid-column: 3/4 ;
    grid-row: 2/3;
    margin: auto;
}

.nome_perfil{
    grid-column:2/4 ;
    grid-row: 3/4;
    margin: auto;
}

.postagem_perfil
{

}
.btns_perfil
{
    display: flex;
    justify-content: center;
}
.btns_perfil > button
{
    margin-right: 5px;
    background-color: rgb(238, 166, 59) ;
    border: 1px solid black;  
}

.btns_perfil > button:hover
{
    opacity: 90%;
}