    /*geral*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
}


    /*footer*/
    .footer{
        max-width: 100%;
        font-weight: bold;
        padding: 5px;
        color: white;
        background-color: black;
        display: flex;
        flex-flow: row wrap;
        justify-content:space-around;
    }
    
    .footer div
    {
        min-width: 150px;
        max-width: 300px;
    }
    
    
    .footer div h3
    {
        text-align: center;
    }
    
    .footer div p
    {
        text-align: justify;
    }
    
    .footer div ul li
    {
        text-align: justify;
        list-style-type: none;
        margin-top: 5px;
    }
    
    .footer div ul li a
    {
        text-decoration: none;
        color: rgb(159, 159, 228);
    }
    
    
    .copyright
    {
        text-align: center;
        border-top: solid 1px rgb(37, 36, 36);
        margin: 0px;
        max-width: 100%;
        font-weight: bold;
        padding: 5px;
        color: white;
        background-color: black;
        
    }